

<%= render @rpedido %>

<div class="conteiner" align="center">

  <label class="btn btn-primary" type="submit" style="background-color: #F71406; border:0;font-size: 22px; ">
    Cancelar
    <span style="display:none; ">
    <%= button_to "Destroy this rpedido", @rpedido, method: :delete %>
      
          
    </span>
    </label>
    <!--
  <%if @rpedido.detallep.exists?%>
  <a href="/catalogos" class="btn btn-primary" style="background-color: #F79206; font-size: 22px; border: 0;">Finalizar</a>  
  <%end%>
    -->
    <a href="/catalogos" class="btn btn-primary" style="background-color: #F79206; font-size: 22px; border: 0;">Finalizar</a>  
</div>
<br>
