<div id="<%= dom_id usuario %>">
  <p>
    <strong>Mail:</strong>
    <%= usuario.Mail %>
  </p>

  <p>
    <strong>Codigo:</strong>
    <%= usuario.Codigo %>
  </p>

  <p>
    <strong>Tipo:</strong>
    <%= usuario.tipo %>
  </p>

</div>
