<!--Inicio de la barra de navegacion-->
  <div>
    <nav class="navbar" style="background-color: #1D3153;">
      <div class="container-fluid">
          <a class="navbar-brand" href="#">
              <img src="./Recursos/Imagenes/a.png" alt="" width="100" height="80">
          </a>
            <div class="container" align="right">
               <a class="navbar-brand text-white" href="#" >CERRAR SESIÓN</a>
            </div>
      </div>
    </nav>
  </div>
  
  <!--Fin de la barra de navegacion-->
  <!--Formulario de registro-->
  
    <%= render "form", vendedor: @vendedor %>
    
  </div>
