
<!--Inicio de la barra de navegacion-->
  <div>
    <div>
	<nav  style="background-color: #1D3153; height: 120px;">
	<div class="container-fluid">
		  <a class="navbar-brand" href="/rventa">
			<img src="/assets/a-d9abbccf6ec068c782702faf5587c416d15fba6911666a57be0c9ccd3e2128c6.png" alt="" width="200" height="100" style="object-fit: cover;">
		  </a>
		  
				  <!--<div class="container" align="right">
						  <a class="navbar-brand text-white" style="position:relative;left:+1410px" style: "display: block">CERRAR SESIÓN</a>
					</div>
					-->
	</div>
 	</nav>
  </div>
  
  <!--Fin de la barra de navegacion-->
  <!--Formulario de registro-->
  
    <%= render "form", rventum: @rventum %>
    
  </div>
